@model NBDPrototype.Models.Project

@{
    ViewData["Title"] = "Edit";
}
<br />
<h2 class="text-info">Edit Project</h2>
@*<hr />*@
<br />
<div class="border container" style="padding:30px;">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Location"></label>
            </div>
            <div class="col-6">
                <input asp-for="Location" class="form-control" />
            </div>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClientID"></label>
            </div>
            <div class="col-6">
                <select asp-for="ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
            </div>
            <span asp-validation-for="ClientID" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="DateStart"></label>
            </div>
            <div class="col-6">
                <input asp-for="DateStart" class="form-control" />
            </div>
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="DateComplete"></label>
            </div>
            <div class="col-6">
                <input asp-for="DateComplete" class="form-control" />
            </div>
            <span asp-validation-for="DateComplete" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">
                    <i class="fas fa-sign-out-alt">
                    </i>Back to List
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
