@model NBDPrototype.Models.Bid

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

    <h4>Bid</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="ProjectID" class="control-label"></label>
                    <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                    <span asp-validation-for="ProjectID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClosingDate" class="control-label"></label>
                    <input asp-for="ClosingDate" class="form-control" />
                    <span asp-validation-for="ClosingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label"></label>
                    <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

<br />
<h2 class="text-info">Edit Bid</h2>
@*<hr />*@
<br />
<div class="border container" style="padding:30px;">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ProjectID"></label>
            </div>
            <div class="col-6">
                <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
            </div>
            <span asp-validation-for="ProjectID" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Date"></label>
            </div>
            <div class="col-6">
                <input asp-for="Date" class="form-control" />
            </div>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="StartDate"></label>
            </div>
            <div class="col-6">
                <input asp-for="StartDate" class="form-control" />
            </div>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClosingDate"></label>
            </div>
            <div class="col-6">
                <input asp-for="ClosingDate" class="form-control" />
            </div>
            <span asp-validation-for="ClosingDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Amount"></label>
            </div>
            <div class="col-6">
                <input asp-for="Amount" class="form-control" disabled />
            </div>
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="StatusId"></label>
            </div>
            <div class="col-6">
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <span asp-validation-for="StatusId" class="text-danger"></span>
        </div>

        <div class="form-group row form-group form-check form-group row">
            @if (User.IsInRole("Manager"))
            {
                <div class="row-cols-3">
                    <label asp-for="IsApproved"></label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="form-check-label">

                        <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)

                    </label>
                </div>
            }
            else
            {
                <div class="row-cols-3">
                    <label asp-for="IsApproved"></label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="form-check-label">

                        <input class="form-check-input" asp-for="IsApproved" disabled/> @Html.DisplayNameFor(model => model.IsApproved)
                        
                    </label>
                </div>
            }



            <br />

            <div class="form-group row">
                <div class="col-3 offset-3">
                    <input type="submit" value="Update" class="btn btn-primary form-control" />
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">
                        <i class="fas fa-sign-out-alt">
                        </i>Back to List
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
